<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>We're down...</h1>
    <p>We are updating this site, will be back soon.</p>

    {{> footer}}
  </body>
</html>
