<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>This is my projects page. All my projects will show up here.</p>

    {{> footer}}
  </body>
</html>
